body{
	background-color:#f9f5e1 ;
	font-family: 'Montserrat', sans-serif;
}

.gameStart{
	display:block;
}

.load{
	display:none;
}

h1{
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	padding-top:2rem;
}
.board{
	padding-top:0;
	margin-top:0;
	width:100vw;
	height:100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items:center;
	align-items:center;
	grid-template-columns: repeat(3, auto);
}

.cell{
	width: 100px;
	height: 100px;
	border: 1px solid #c0c0c0;
	font-size: 9vw;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700; 
	display:flex;
	align-items: center;
	justify-content:center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
	border-top: 5px;
}


.cell:nth-child(3n+1){
	border-left: none;
}

.cell:nth-child(3n+3){
	border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
	border-bottom: none;
}

