.gameStart{
	display:block;
}

.load{
	display:none;
}

.board{
	width:100vw;
	height:100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items:center;
	align-items:center;
	grid-template-columns: repeat(3, auto);
}

.cell{
	width: 100px;
	height: 100px;
	border: 1px solid black;
}
