body{
	background-color:#f9f5e1 ;
	font-family: 'Montserrat', sans-serif;
}

.gameStart{
	display:block;
}

.load{
	display:none;
}

h1{
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	padding-top:2rem;
}
.board{
	padding-top:0;
	margin-top:0;
	width:100vw;
	height:50vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items:center;
	align-items:center;
	grid-template-columns: repeat(3, auto);
}

.cell{
	width: 100px;
	height: 100px;
	border: 1px solid #c0c0c0;
	font-size: 9vw;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700; 
	display:flex;
	align-items: center;
	justify-content:center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
	border-top: 5px;
}


.cell:nth-child(3n+1){
	border-left: none;
}

.cell:nth-child(3n+3){
	border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
	border-bottom: none;
}

.playerForm{
	display: none;
	background: #f5f0e1 ;
	border-radius: 10px;
	width: 380px;
	padding: 1rem;
	box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10000;
	padding: 20px;
	border: 1px solid #dcdcdc;

} 
.playerForm input, .playerForm button{
	margin: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	color: #2f4f4f;
	width: 90%;
	padding: 5px;
 
} 

.player1{
	font-family: 'Quicksand', sans-serif;
	color:#ff6f61;
	font-weight: 700;
}
.player2{
	font-family: 'Quicksand', sans-serif;
	color:#40e0d0;
	font-weight: 700;
}

.btn{
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: black;
	text-align: center;
	white-space: nowrap;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #ff6f61;
	font-family: 'Quicksand', sans-serif;
 
}
.buttonContainer {
	margin-top:100px;
	text-align: center;
}

.createPlayers{
	font-size:15px;
	font-weight: 700;
}

#win-message {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the overlay effect */
            justify-content: center;
            align-items: center;
            color: #ffffff;
        }


.Message{
	    font-family: 'Quicksand', sans-serif;

	    font-size: 48px;
}

.restart{
	    font-family: 'Quicksand', sans-serif;
	    text-align: center;
	    font-size: 20px;
}
